extends layout

block content
  h1= title
  p welcome to my render server
  button(type="button", class="btn btn-secondary", onclick="faster()") Press Me

  div(id="faster") add in extra

  script.
    let value = 1;
    let amt = 2;

    function faster() {
      amt *= 2;
      value += amt;
      document.getElementById("faster").innerHTML = `Faster ${value} times ${amt}`;
    }

